body {
  margin: 0%;
  padding: 0%;
}
* {
  box-sizing: border-box;
  background-image: url(cat.gif);
}

.button {
  display: inline-block;
  width: 80%;
  height: 80%;
  background-color: red;
  color: rgb(102, 255, 0);
  text-decoration: none;
  padding-left: 30px;
  padding-top: 90px;
  font-size: 40%;
  background-image: url(bird.gif);
  border: 5px solid grey;
  box-shadow: 10px 20px 15px grey;
}

.button:hover {
  display: inline-block;
  width: 27%;
  height: 80%;
  background-color: blue;
  color: white;
}

.what {
  text-align: center;
}
