* {
  box-sizing: border-box;
}

.button {
  display: inline-block;
  width: 700px;
  height: 600px;
  background-color: red;
  color: rgb(102, 255, 0);
  text-decoration: none;
  padding-left: 30px;
  padding-top: 90px;
  font-size: 150px;
}

.button:hover {
  display: inline-block;
  width: 700px;
  height: 600px;
  background-color: blue;
  color: white;
}

.what {
  text-align: center;
}
